html body{
   line-height: 1.5 !important;
   font-size: 16px;
    font-family: poppins;
}
.table {
  margin-left: 350px;
  margin-right: 40px;
}
/*-------img bar------*/
.img{
  padding: 0px 8px !important;
}
.col1_img img {
  width: 100%;
   opacity: 0.8;
   cursor: pointer;
}

.col1_img img:nth-child(2) {
  height: 20% !important;
}
.col2_img img:nth-child(2) {
  height: 20% !important;
}
.col2_img img {
  width: 100%;
  opacity: 0.8;
   cursor: pointer; 
} 
/*------img bar over----*/

   /* navigation bar */
.navigation {
  top: 0px;
  width: 300px;
  height: 100%;
  display: block;
  font-weight: bold;
  color: #ffff !important;
  background-color: #f44336 !important;
  overflow: auto;
  position: fixed;
  padding: 8px 16px 8px 16px !important;
  font-size: 18px !important;
  text-align: left;
}


.company {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  margin-left:16px ;
} 
.navi{
  list-style-type: none;
  padding: 0px;
}
.navi li{
  padding: 8px 16px 8px 16px !important;
  color:#fff ;
}
.navi li a{
  text-decoration: none;
  color: inherit;
}
.navi li:hover {
   background-color: #ffff !important;
   color:#000 !important;
}

 /* navigation bar over*/
   /*------ header-----*/
.main{
   padding: 80px 16px 0px 16px;
  }  

.main h1{
    font-size: 64px !important;
    font-weight: bolder;
    margin: 0px;
}      
.main1{
  color: #f44336 !important;
  font-size: 48px !important;
  margin: 0px;
}
.hr{
  width: 50px;
  border: 5px solid red !important;
  border-radius: 4px;
  margin: 20px 0px;
  box-sizing: content-box;
   height: 0;
   overflow: visible;
}
    /*  ----- founder-----*/
.founder{
  filter:grayscale(75%);
  padding: 0px 8px;
}
.col3_img img{
  width: 100%;
}
.col3_img{
  background-color: #f1f1f1 !important;
}
.ceo{
  padding: 0px 16px !important;
}
.ceo1{
  opacity: 0.60 !important;
}
/*----- founder -------*/
/*-------packeges table------*/
.table1{
  padding: 0px 8px;
  margin-bottom: 16px;
  width: 460px;
}
.table1_chid{
background-color: #f1f1f1 !important;
text-align: center;
list-style-type: none;
padding: 0px;
margin: 0px;
}
.table1_chid li{
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}
.table1_main{
  background-color: #616161;
  padding-top: 32px !important; 
  padding-bottom: 32px !important;
  
  font-size: 24px !important;
}
.room{
  opacity: 0.60;
}
.button{
  border: none;
  padding: 12px 24px;
  font-size: inherit;
  cursor: pointer;
  background-color: #fff;
}
.button:hover{
  background-color: #000;
  color: #fff;
}
.button1{
  border: none;
  padding: 12px 24px;
  font-size: inherit;
  cursor: pointer;
  background-color: #f44336;
  
}
.button1:hover{
  background-color: #000;
  color: #fff;
}
.table1_main1{
  color:#fff;
  background-color: #f44336;
  padding-top: 32px !important; 
  padding-bottom: 32px !important;
  font-size: 24px !important;
}